<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- Font Awesome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/delete.js"></script>
  <script defer src="scripts/get_product_id.js"></script>
</head>

<body>

  <%- include('header', { user: user ? { is_admin: user.is_admin } : null }) %>

    <!-- <h1 class="main-logo">Furniture Seller!</h1> -->

    <!-- Search bar -->

    <h2>Filter by price</h2>

    <form id="filter-price-form">
      <div class="filter-price-div">
        <label class="form-label">Minimum Cost<input type="number" name="minimum_price" placeholder="Minimum Cost"
            id="search-minimum-price" class="form-control" style='background-color:rgb(239, 236, 236)'>
        </label>
        <label class="form-label">Maximum Cost<input type="number" name="maximum_price" placeholder="Maximum Cost"
            id="search-maximum-price" class="form-control" style='background-color:rgb(239, 236, 236)'></label>
        <button id="filter-price" class="btn btn-dark" type="submit">Search</button>
      </div>
    </form>

    <!-- Featured items -->

    <h2>Featured items</h2>

    <!-- If the id matches the id with the matching price paramters, show that box -->

    <% if (user && user.is_admin) { %>

      <div id="product-container">

        <% for (let id in products) { %>

          <article class="featured-item" data-product-id="<%= products[id].id %>">
            <section class="featured-item__preview-image">
              <img src="<%- products[id].photo_url_1 %>" alt="featured-furniture" style="width: 200px; border:solid;">
            </section>
            <section class="featured-item__details">
              <h3 class="featured-item__title"><%- products[id].title %></h3>
              <footer class="featured-item__footer">
                <div class="featured-item__rating">Quantity in stock: <%- products[id].stock_quantity %></div>
                <br>
                <div class="featured-item__price">Price: $<%- products[id].price/100 %></div>
                <br>
                <div class="featured-item__description">Description: <%- products[id].description %></div>
                <br>
                <div class="featured-item__message">Avalable:
                  <% if (products[id].is_sold===false) { %>
                    <span>Not sold</span>
                    <% } else { %>
                      <span>SOLD</span>
                      <% } %>
                </div>
                <div class="featured-item__message"><a href="/message">Send message to user</a></div>
                <br>
                <div class="featured-item__favourite">Favourite <i class="fa-regular fa-heart"></i></div>

                <form method="POST" action="/delete" class="delete_product">
                  <input type="hidden" name="itemId" value="<%= products[id].id  %>">
                  <button type="submit" class="delete_button btn btn-outline-danger">Delete</button>
                </form>


              </footer>
            </section>
          </article>

          <% } %>
      </div>

      <% } else { %>
        <div id="product-container">

          <% for (let id in products) { %>

            <article class="featured-item">
              <section class="featured-item__preview-image">
                <img src="<%- products[id].photo_url_1 %>" alt="featured-furniture" style="width: 200px; border:solid;">
              </section>
              <section class="featured-item__details">
                <h3 class="featured-item__title"><%- products[id].title %></h3>
                <footer class="featured-item__footer">
                  <div class="featured-item__rating">Quantity in stock: <%- products[id].stock_quantity %></div>
                  <br>
                  <div class="featured-item__price">Price: $<%- products[id].price/100 %></div>
                  <br>
                  <div class="featured-item__description">Description: <%- products[id].description %></div>
                  <br>
                  <div class="featured-item__message">Avalable:
                    <% if (products[id].is_sold===false) { %>
                      <span>Not sold</span>
                      <% } else { %>
                        <span>SOLD</span>
                        <% } %>
                  </div>
                  <div class="featured-item__message"><a href="/message">Send message to user</a></div>
                  <br>
                  <div class="featured-item__favourite">Favourite <i class="fa-regular fa-heart"></i></div>

                </footer>
              </section>
            </article>

            <% } %>

        </div>

        <% } %>



          <small>Copyright LHL OCT 16 COHORT</small>

             <!-- Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
   integrity="sha384-u8z6wCDO/iPduYNySEGAhJdkZLfReQofMEJ9b98loF4bRs35nusD2PrEAe82LJbP"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
   integrity="sha384-rE5tIc/Z9b4HeL6lZ5bjx6GcSd3JKLjo1fKjHAUeOLByE4K9NzFDrsSBDl6e9Zz4"
   crossorigin="anonymous"></script>

</body>

</html>