<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Font Awesome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <%- include('header') %>

    <!-- <h1 class="main-logo">Furniture Seller!</h1> -->

    <!-- Search bar -->

    <h2>Filter by price</h2>

    <form id="filter-price-form">
    <div class="filter-price-div">
      <label>Minimum Cost<input type="number" name="minimum_price" placeholder="Minimum Cost" id="search-minimum-price">
      </label>
      <label>Maximum Cost<input type="number" name="maximum_price" placeholder="Maximum Cost" id="search-maximum-price"></label>
      <button id="filter-price" type="submit">Search</button>
    </div>
    </form>

    <!-- Featured items -->

    <h2>Featured items</h2>

    <!-- If the id matches the id with the matching price paramters, show that box -->

    <div id="product-container">

      <% for (let id in products) { %>

        <article class="featured-item">
          <section class="featured-item__preview-image">
            <img src="<%- products[id].photo_url_1 %>" alt="featured-furniture" style="width: 200px; border:solid;">
          </section>
          <section class="featured-item__details">
            <h3 class="featured-item__title"><%- products[id].title %></h3>
            <footer class="featured-item__footer">
              <div class="featured-item__rating">Quantity in stock: <%- products[id].stock_quantity %></div>
              <br>
              <div class="featured-item__price">Price: $<%- products[id].price/100 %></div>
              <br>
              <div class="featured-item__description">Description: <%- products[id].description %></div>
              <br>
              <div class="featured-item__message">Avalable:
                 <% if (products[id].is_sold===false) { %>
                    <span>Not sold</span>
                  <% } else { %>
                    <span>SOLD</span>
                    <% } %>
              </div>
              <div class="featured-item__message"><a href="/message">Send message to user</a></div>
              <br>
              <div class="featured-item__favourite">Favourite <i class="fa-regular fa-heart"></i></div>

            </footer>
          </section>
        </article>

        <% } %>

      </div>

        <small>Copyright LHL OCT 16 COHORT</small>

</body>

</html>
